.App {
  background-color: #19437D;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* navbar  */
.nav {
  width: 100%;
  height: 100px;
}

.nav>img {
  margin: 20px 8vw;
}

/* banner form */
.banner {
  width: 80%;
  height: 400px;
  margin: 0 10%;
  display: flex;
}

.bannerLeft {
  width: 70%;
  height: 100%;
  background-image: url("./assets//banner.png");
  background-size: 100% 100%;
}

.bannerRight {
  width: 30%;
}

.inputfield {
  width: 96%;
  height: 50px;
  margin: 0px 2% 18px 2%;
  outline: none;
  color: #8F8F8F;
  padding: 0 5px;
  background-color: #FFFFFF;
}

.btn {
  background-color: #1E3565;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 8px;
}

/* description */
.description {
  width: 100%;
  height: 220px;
  padding: 35px 0px;
  background-color: #DEECFF;
  margin-top: 60px;
}

.descContent {
  width: 80%;
  height: 100%;
  margin: 10px 10%;
  font-size: 34px;
  color: #19437D;
}

/* signature */
.signature {
  width: 100;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.singHeading {
  font-size: 36px;
  font-weight: 700;
}

.items {
  display: flex;
  width: 80%;
  font-size: 24px;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  justify-content: space-around;
}

ul {
  width: 40%;
}

li {
  margin-bottom: 20px;
}

/* register */
.register {
  width: 60%;
  background-color: #DEECFF;
  margin: auto;
  text-align: center;
  padding: 20px;
  margin: 5% 20%;
  border-radius: 15px;
}

.register>h2 {
  color: #EE1F42;
}

.register>div {
  color: #19437D;
}

/* footer */
.footer {
  width: 100%;
  background-color: #81BDD9;
}

.footercontent {
  width: 80%;
  margin: 0% 10%;
  padding: 30px 0;
}

.footercontent>div {
  font-size: 12px;
}

@media(max-width:600px) {

  /* navbar  */
  .nav {
    width: 94%;
    height: 50px;
  }

  .nav>img {
    width: 100px;
    height: 50px;
  }

  .nav>img {
    margin: 5px 8vw;
  }

  /* banner form */
  .banner {
    width: 100%;
    height: 500px;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    align-items: center;
  }

  .bannerLeft {
    width: 80%;
    height: 200px;
  }

  .bannerRight {
    margin-top: 30px;
    width: 80%;
  }

  .inputfield {
    width: 96%;
    height: 30px;
    margin: 0px 2% 18px 2%;
    outline: none;
    color: #8F8F8F;
    padding: 0 5px;
    background-color: #FFFFFF;
  }

  /* description */
  .description {
    width: 100%;
    height: 220px;
    padding: 35px 0px;
    background-color: #DEECFF;
    margin-top: 60px;
  }

  .descContent {
    width: 80%;
    height: 100%;
    margin: 10px 10%;
    font-size: 20px;
    color: #19437D;
  }

  /* signature */
  .singHeading {
    font-size: 24px;
  }

  .items {
    display: flex;
    width: 80%;
    font-size: 16px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    justify-content: space-around;
  }

  ul {
    width: 45%;
  }

  li {
    margin-bottom: 20px;
  }

  /* register */
  .register {
    width: 60%;
    background-color: #DEECFF;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin: 5% 20%;
    border-radius: 15px;
  }

  .register>h2 {
    color: #EE1F42;
  }

  .register>div {
    color: #19437D;
  }

  /* footer */
  .footer {
    width: 100%;
    background-color: #81BDD9;
  }

  .footercontent {
    width: 80%;
    margin: 0% 10%;
    padding: 30px 0;
  }

  .footercontent>div {
    font-size: 12px;
  }
}